## environment file
.env

## python cache
__pycache__/

## python env
cokg/

## Ignore all .ipynb_checkpoints except exclude specific files or directories
.ipynb_checkpoints/
!.ipynb_checkpoints/specific_file.ipynb
