## environment file
.env
coherence.json
consistency.json
fluency.json
relevance.json

## python cache
__pycache__/
.DS_Store

## python env
cokg/

## Ignore all .ipynb_checkpoints except exclude specific files or directories
.ipynb_checkpoints/
!.ipynb_checkpoints/specific_file.ipynb
